
link(rel="stylesheet", href="./components/nav/_nav.scss")

mixin navegacao
  nav.nav
    a(href="./")
      h1.logo Studi#[span.accent on] #[span.subtitle Eventos]
    ul#menu.desktop
      li
        a(href="./") Empresa
      li
        a(href="./") Eventos
      li
        a(href="./") Galeria
      li
        a(href="./") Depoimentos
      li
        a(href="./") Contato